<h1>Order#show</h1>

<h1>Orde Details:</h1>

<table>
  <tr>
    <th>Street</th>
    <th>City</th>
    <th>State</th>
    <th>Order Items</th>
    <th>Ship Date</th>
    <th>Quantity</th>
    <th>Order price</th>
    <th>Text</th>
    <th></th>
  </tr>
 
  <% @orders.each do |order| %>
    <tr>
     <td><%= order.string %></td>
     <td><%= order.string %></td>
     <td><%= order.string %></td>
     <td><%= order.array %></td>
     <td><%= order.date %></td>
     <td><%= order.integer %></td>
     <td><%= order.integer %></td>
     <td><%= order.text %></td>
      
      
 <td><%= link_to 'Show', order_path(order) %></td>
      <td><%= link_to 'Edit', edit_order_path(order) %></td>
      <td><%= link_to 'Destroy', order_path(order),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
  <%= link_to 'Back', orders_path %>
  
</table>
